<!DOCTYPE html>
<html>
<head>
    <title>Update Password</title>
</head>
<body>
    <h1>Update Password</h1>
    <form action="/update-password" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br>
        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" required><br>
        <button type="submit">Update Password</button>
    </form>
</body>
</html>
